@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Chat";
}


<h2>Chat</h2>

<div class="container" style="background-color: #FFFFFF;
        border: thick solid #808080;
        padding: 20px;
        margin: 20px">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
<!--Script references. -->
<!--Reference the jQuery library. -->
@section Scripts{
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>

<script type="text/javascript">
       $(function () {
           // Declare a proxy to reference the hub.
           var chat = $.connection.chatHub;
           // Create a function that the hub can call to broadcast messages.
           chat.client.broadcastMessage = function (name, message) {
               // Html encode display name and message.
               var encodedName = $('<div />').text(name).html();
               var encodedMsg = $('<div />').text(message).html();
               // Add the message to the page.
               $('#discussion').append('<li><strong>' + encodedName
                   + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
           };
           // Get the user name and store it to prepend to messages.
           $('#displayname').val('@User.Identity.GetUserName()');
           // Set initial focus to message input box.
           $('#message').focus();
           // Start the connection.
           $.connection.hub.start().done(function () {
               $('#sendmessage').click(function () {
                   // Call the Send method on the hub.
                   chat.server.send($('#displayname').val(), $('#message').val());
                   // Clear text box and reset focus for next comment.
                   $('#message').val('').focus();
               });
           });
       });
</script>
}