@model BB.UI.Web.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.Id = ViewBag.user.Id;
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Save", "Manage", new { userId = ViewBag.user.Id }, FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
{
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>

        <dt>Change avatar:</dt>
        <dd>
            <input type="file" id="profileImage" name="profileImage" style="display: none" />
            <div>
                <div class="div-image-form" style="">
                    @if (ViewBag.user.ImageUrl != null)
                    {
                        <img class="borderround" id="profile_click" src="~/Content/img/Users/@ViewBag.user.ImageUrl" style="width: 150px;" />
                    }
                    else
                    {
                        <img class="borderround" id="profile_click" src="~/Content/img/avatar.png" style="width: 150px;"/>
                    }
                </div>
            </div>
        </dd>
    </dl>
    <div>
        <input type="submit" value="Save changes" class="btn btn-default create" />
    </div>
</div>
}
@section scripts{
    <script>
    document.getElementById('profile_click').onclick = function () {
        document.getElementById('profileImage').click();
    };
    document.getElementById("profileImage").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById("profile_click").src = e.target.result;
        };

        reader.readAsDataURL(this.files[0]);

    };

</script>
    }