body {
  margin: auto;
  padding: 0; }

* {
  font-family: 'Roboto', sans-serif; }

.material-icons {
  position: relative;
  top: .25em;
  line-height: .3em;
  margin-left: -.1em; }

a.disabled {
  pointer-events: none;
  cursor: default; }

header {
  display: block;
  padding: 1em 5em;
  margin: 0 auto;
  max-width: 1500px; }
  @media screen and (max-width: 600px) {
    header {
      padding: 1em 1em;
      border-bottom: 1px solid #ddd;
      text-align: center; } }
  header img {
    display: inline-block; }
    @media screen and (max-width: 600px) {
      header img {
        margin-bottom: .5em; } }
  header ul.nav {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: inline-block;
    float: right; }
    @media screen and (max-width: 600px) {
      header ul.nav {
        display: block;
        float: none;
        width: 100%; } }
    header ul.nav li {
      display: inline-block;
      margin-left: 1em;
      float: right;
      line-height: 31px; }
      @media screen and (max-width: 600px) {
        header ul.nav li {
          display: block;
          float: none;
          width: 100%;
          margin-left: 0; } }
      header ul.nav li a {
        transition: border .2s;
        -webkit-transition: border .2s;
        border-bottom: 2px solid white;
        padding-bottom: .2em;
        text-decoration: none;
        text-transform: lowercase;
        color: black; }
        header ul.nav li a:hover {
          border-bottom: 2px solid black; }

#banner {
  background-image: url("img/banner.jpg");
  background-size: cover;
  width: 100%;
  min-height: 500px;
  z-index: 0; }
  #banner .content {
    padding: 4em 5em 4em 5em;
    margin: 0 auto;
    max-width: 1500px;
    color: white; }
    #banner .content h1 {
      font-weight: 100;
      color: white;
      font-size: 5em;
      margin-bottom: 0;
      text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4); }
    #banner .content h2 {
      margin-top: 0;
      font-weight: 200;
      font-size: 2em;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); }
    #banner .content .button {
      border: 2px solid white;
      background: transparent;
      color: white;
      cursor: pointer;
      font-size: 2.2em;
      padding: .2em 1em;
      text-transform: lowercase;
      text-decoration: none;
      border-radius: 5px;
      font-weight: 100;
      margin-right: .3em; }

.body-content {
  padding: 1em 5em;
  max-width: 1500px;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .body-content {
      padding: 0 1em; } }
  .body-content .title {
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: .3em; }
    .body-content .title h1 {
      display: inline-block;
      font-family: Roboto;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0; }
      .body-content .title h1:after {
        content: ' |';
        font-weight: 200; }
  .body-content .extramargin {
    margin-bottom: 1em; }
  .body-content .form-group {
    max-width: 500px; }
    .body-content .form-group label {
      padding-top: .25em;
      padding-bottom: .10em; }
    .body-content .form-group input {
      padding: .5em;
      margin-bottom: .7em;
      display: block;
      width: 100%;
      border-radius: 10px; }
    .body-content .form-group input[type=checkbox] {
      display: inline-block;
      width: 1em;
      height: 1em; }
    .body-content .form-group input[type=submit] {
      display: inline-block;
      width: initial; }
  .body-content table {
    border-collapse: collapse;
    border: none; }
    .body-content table th {
      padding: 1em 0;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      font-size: .8em; }
    .body-content table td {
      padding: .5em; }
    .body-content table th {
      padding: .62em; }

#playlist-tracks {
  padding: 0;
  width: 100%; }
  #playlist-tracks .track {
    min-height: 128px;
    clear: both; }
    #playlist-tracks .track .albumart {
      height: 48px;
      display: inline-block;
      float: left;
      margin-right: .7em; }
    #playlist-tracks .track .artist {
      min-width: 150px; }
    #playlist-tracks .track .tracktitle {
      min-width: 150px; }

#player {
  margin-top: 2em;
  display: inline-block;
  height: 64px;
  border-top: 1px solid black;
  width: 100%;
  padding-top: .5em; }
  #player h1 {
    display: inline-block;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0; }

#custom-inputform-organisations .first-form-group, #custom-inputform-organisations .create, #custom-inputform-playlists .first-form-group, #custom-inputform-playlists .create {
  margin-top: 25px; }

#custom-inputform-organisations .other-form-groups, #custom-inputform-playlists .other-form-groups {
  margin-top: 14px; }

#custom-inputform-registration {
  border-right: 1px solid #d3d3d3;
  display: block; }
  #custom-inputform-registration .container-form {
    margin-right: 50px;
    float: right; }
    #custom-inputform-registration .container-form .div-image-form {
      margin-top: 22px;
      margin-bottom: 22px;
      text-align: center; }
      #custom-inputform-registration .container-form .div-image-form .image-form {
        width: 150px;
        height: 150px;
        cursor: pointer; }
    #custom-inputform-registration .container-form .column-left-form {
      overflow: hidden; }
    #custom-inputform-registration .container-form .column-right-form {
      float: right;
      overflow: hidden; }
    #custom-inputform-registration .container-form .form-groups {
      margin-top: 7px; }
    #custom-inputform-registration .container-form .create {
      margin-top: 20px;
      margin-right: 13px; }

.custom-input, .custom-input-organisations, .custom-input-playlists {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -moz-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -ms-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: #F1F1F1;
  border: 1px solid #C8C8C8;
  color: #808080;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 10px;
  width: 270px;
  height: 40px;
  vertical-align: middle; }

.custom-input-organisations, .custom-input-playlists {
  width: 350px; }

.custom-input:focus, .custom-input-organisations:focus, .custom-input-playlists:focus {
  -webkit-box-shadow: 0 0 2px #000 inset;
  -moz-box-shadow: 0 0 2px #000 inset;
  -ms-box-shadow: 0 0 2px #000 inset;
  -o-box-shadow: 0 0 2px #000 inset;
  box-shadow: 0 0 2px #000 inset;
  background-color: #FFF;
  border: 1px solid #000;
  outline: none; }

.progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: lightgray; }

.bar {
  position: absolute;
  width: 0.1%;
  height: 100%;
  background-color: black;
  border: solid 1px; }

.form-label {
  width: 90%;
  vertical-align: middle;
  word-wrap: break-word;
  float: left; }

.form-img-icon {
  cursor: pointer;
  float: right;
  vertical-align: middle; }

.round {
  border-radius: 50%; }

.borderround {
  border-radius: 50%;
  border-color: black;
  border: 1.5px solid; }

.borderround:hover {
  border-color: #0000FF; }

.custom-validation {
  color: red;
  font-size: 11px; }

.text-danger {
  color: red; }

#results {
  padding: 0; }
  #results li.track {
    margin: 1em;
    display: block;
    min-height: 128px;
    clear: both; }
    #results li.track img {
      height: 128px;
      display: inline-block;
      float: left;
      margin-right: .7em; }
    #results li.track .artist {
      padding-top: .4em;
      display: block;
      font-weight: 700; }
    #results li.track .tracktitle {
      display: block; }

.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee; }

.btn {
  display: inline-block;
  padding: .4em 1em .5em 1em !important;
  cursor: pointer;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: lowercase;
  border: 2px solid black;
  border-radius: 4px; }
  .btn:hover {
    background: #222; }

.btn:disabled {
  cursor: not-allowed; }

.btn-default {
  color: white; }

.btn-right {
  float: right; }

.btn-login {
  width: 270px;
  height: 3em;
  margin-top: 1em; }

.min-margin-top {
  margin-top: -15px; }

.horizontal-center {
  text-align: center; }

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1500px;
  font-family: sans-serif;
  padding: 0.2em 5em;
  text-align: center; }
  @media screen and (max-width: 600px) {
    footer {
      padding: 0.2em 1em; } }

.hidden {
  display: none; }

