body {
  margin: auto;
  max-width: 1500px;
  padding: 0; }

* {
  font-family: 'Roboto', sans-serif; }

.material-icons {
  position: relative;
  top: .25em;
  line-height: .3em;
  margin-left: -.1em; }

header {
  display: block;
  padding: 1em 5em;
  margin-bottom: 1em; }
  @media screen and (max-width: 600px) {
    header {
      padding: 1em 1em;
      border-bottom: 1px solid #ddd;
      text-align: center; } }
  header img {
    display: inline-block; }
    @media screen and (max-width: 600px) {
      header img {
        margin-bottom: .5em; } }
  header ul.nav {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: inline-block;
    float: right; }
    @media screen and (max-width: 600px) {
      header ul.nav {
        display: block;
        float: none;
        width: 100%; } }
    header ul.nav li {
      display: inline-block;
      margin-left: 1em;
      float: right;
      line-height: 31px; }
      @media screen and (max-width: 600px) {
        header ul.nav li {
          display: block;
          float: none;
          width: 100%;
          margin-left: 0; } }
      header ul.nav li a {
        transition: border .2s;
        -webkit-transition: border .2s;
        border-bottom: 2px solid white;
        padding-bottom: .2em;
        text-decoration: none;
        text-transform: lowercase;
        color: black; }
        header ul.nav li a:hover {
          border-bottom: 2px solid black; }

.body-content {
  padding: 0 5em;
  max-width: 1500px;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .body-content {
      padding: 0 1em; } }
  .body-content .title {
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: .3em; }
    .body-content .title h1 {
      display: inline-block;
      font-family: Roboto;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 0; }
      .body-content .title h1:after {
        content: ' |';
        font-weight: 200; }
  .body-content .extramargin {
    margin-bottom: 1em; }
  .body-content .form-group {
    max-width: 500px; }
    .body-content .form-group label {
      padding-top: .25em;
      padding-bottom: .10em; }
    .body-content .form-group input {
      padding: .5em;
      margin-bottom: .7em;
      display: block;
      width: 100%;
      border-radius: 10px; }
    .body-content .form-group input[type=checkbox] {
      display: inline-block;
      width: 1em;
      height: 1em; }
    .body-content .form-group input[type=submit] {
      display: inline-block;
      width: initial; }
  .body-content table {
    border-collapse: collapse;
    border: none; }
    .body-content table th {
      padding: 1em 0;
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      font-size: .8em; }
    .body-content table td {
      padding: .5em; }
    .body-content table th {
      padding: .62em; }

#playlist-tracks {
  padding: 0;
  width: 100%; }
  #playlist-tracks .track {
    min-height: 128px;
    clear: both; }
    #playlist-tracks .track .albumart {
      height: 48px;
      display: inline-block;
      float: left;
      margin-right: .7em; }
    #playlist-tracks .track .artist {
      min-width: 150px; }
    #playlist-tracks .track .tracktitle {
      min-width: 150px; }

#player {
  margin-top: 2em;
  display: inline-block;
  height: 64px;
  border-top: 1px solid black;
  width: 100%;
  padding-top: .5em; }
  #player h1 {
    display: inline-block;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0; }

.custom-input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -moz-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -ms-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 1px 0 #F1F1F1, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: #F1F1F1;
  border: 1px solid #C8C8C8;
  color: #808080;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 270px; }

.custom-input:focus {
  -webkit-box-shadow: 0 0 2px #000 inset;
  -moz-box-shadow: 0 0 2px #000 inset;
  -ms-box-shadow: 0 0 2px #000 inset;
  -o-box-shadow: 0 0 2px #000 inset;
  box-shadow: 0 0 2px #000 inset;
  background-color: #FFF;
  border: 1px solid #000;
  outline: none; }

.round {
  border-radius: 50%; }

.borderround {
  border-radius: 50%;
  border-color: black;
  border: 1.5px solid; }

.borderround:hover {
  border-color: #0000FF; }

.custom-validation {
  color: red;
  font-size: 11px; }

.text-danger {
  color: red; }

#results {
  padding: 0; }
  #results li.track {
    margin: 1em;
    display: block;
    min-height: 128px;
    clear: both; }
    #results li.track img {
      height: 128px;
      display: inline-block;
      float: left;
      margin-right: .7em; }
    #results li.track .artist {
      padding-top: .4em;
      display: block;
      font-weight: 700; }
    #results li.track .tracktitle {
      display: block; }

.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee; }

.btn {
  display: inline-block;
  padding: .4em 1em .5em 1em !important;
  cursor: pointer;
  color: white;
  background: black;
  text-decoration: none;
  text-transform: lowercase;
  border: 2px solid black;
  border-radius: 4px; }
  .btn:hover {
    background: #222; }

.btn-default {
  color: white; }

.btn-right {
  float: right; }

footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1500px;
  font-family: sans-serif;
  padding: 0.2em 5em;
  text-align: center; }
  @media screen and (max-width: 600px) {
    footer {
      padding: 0.2em 1em; } }

