@{
    ViewBag.Title = "Home Page";
}

@section escape_padding {
    <div id="banner">
        <div class="content">
            <h1>Create and share playlists</h1>
            <h2>With your friends, family and the world.</h2>
            <a href="#" class="button">Explore</a>
            <a href="#" class="button">Join us</a>
        </div>
    </div>
}

<div class="title">
    <h1>What</h1>
    is BeatBuddy?
</div>

<p>Beatbuddy is a collaborative music platform, that will allow you to create playlists with your friends family and more!</p>

<a href="#" class="btn">
    <i class="material-icons">check</i>
    I am a button!
</a>