@{
    ViewBag.Title = "Home Page";
}

<div class="title">
    <h1>What</h1>
    is BeatBuddy?
</div>

<p>Beatbuddy is a collaborative music platform, that will allow you to create playlists with your friends family and more!</p>

<a href="#" class="btn">
    <i class="material-icons">check</i>
    I am a button!
</a>