<div class="title">
    <h1>Search</h1> a organisation
</div>
<div class="first-form-group">
    @Html.Label("Search your organisation here: ", new { @class = "control-label", style = "margin-top: 1em" })
</div>
<div>
    @Html.TextBox("searchOrganisation", null, new { @class = "custom-input-organisations", style = "margin-top: 0.6em; width: 90%;" })
</div>

<img id="loadingOrganisation" src="~/Content/img/round_shape_loader.gif" alt="loading" hidden  />

<ul id="resultsOrganisation" class="row" style="cursor: pointer" ></ul>
